.cont1336 {
    font-family: 仿宋;
    font-size: 18px;
    color: #000;
    .align-right {
        text-align: right;
    }
    .alignCenter {
        text-align: center;
    }
    .bold {
        font-weight: bold;
    }
    .table {
        .w119 {
            width: 119px;
        }
        .w188 {
            width: 188px;
        }
        .w192 {
            width: 192px;
        }
        .w167 {
            width: 167px;
        }
    }
}