.main-box {
    background-color: #ffffcc;

    .main {
        width: 1100px;
        margin: 0 auto;
        background-color: white;
    }
    .headerImg {
        width: 100%;
    }
    .banner {
        width: 100%;
        height: 265px;
    }
    .bordered {
        border: 1px solid #ccc;
        /* border-radius: 4px; */
    }
    .firstBox {
        display: flex;
        .notice {
            width: 300px;
            margin: 5px 0;
            margin-right: 8px;
            padding: 10px;
            .header {
                display: flex;
                justify-content: space-between;
                margin-bottom: 4px;
                /* align-items: center; */
                .headerLeft {
                    display: flex;
                    align-items: center;
                }
                .headerRight {}
                .block {
                    display: inline-block;
                    background-color: red;
                    width:4px;
                    height: 100%;
                    margin-right: 8px;
                }
                .grey {
                    color: gray;
                    margin-left: 10px;
                    font-size: 12px;
                }
            }
        }
        .newsContainer{
            font-size: 12px;
            font-family: 微软雅黑;
        }
        .containerLinks:hover {
            text-decoration: underline;
            cursor: pointer;
        }
        .newsP {
            margin-bottom: 5px;
            display: flex;
            justify-content: space-between;
        }
        .newsPLeft {
            /* margin */
        }
        .newsIcon {
            margin-right: 8px;
        }
        .name {
            color: red;
            font-weight: 600;
        }
        .news {
            /* width: 440px; */
            flex-basis: 50%;
            flex-grow: 1;
            margin: 5px 0;
            margin-right: 8px;
            padding: 10px;
            .header {
                display: flex;
                justify-content: space-between;
                margin-bottom: 4px;
                /* align-items: center; */
                .headerLeft {
                    display: flex;
                    align-items: center;
                }
                .headerRight {}
                .block {
                    display: inline-block;
                    background-color: red;
                    width:4px;
                    height: 100%;
                    margin-right: 8px;
                }
                .grey {
                    color: gray;
                    margin-left: 10px;
                    font-size: 12px;
                }
            }
        }
        .links {
            width: 440px;
            padding: 10px;
            margin: 5px 0;
            .newsContainer {
                display: flex;
                img {}
                .nav-box {
                    flex-basis: 50%;
                    flex-grow: 1;
                    div {
                        font-size: 14px;
                        padding: 2px;
                        color: red;
                        font-weight: bold;
                        text-align: center;
                        background-image: url('../../access/anbg.png');
                        background-repeat: repeat-x;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        margin-bottom: 4px;
                    }
                }
            }
        }
        .active {
            width: 440px;
            padding: 10px;
            margin: 5px 0;
            .header {
                display: flex;
                justify-content: space-between;
                margin-bottom: 4px;
                /* align-items: center; */
                .headerLeft {
                    display: flex;
                    align-items: center;
                }
                .headerRight {}
                .block {
                    display: inline-block;
                    background-color: red;
                    width:4px;
                    height: 100%;
                    margin-right: 8px;
                }
                .grey {
                    color: gray;
                    margin-left: 10px;
                    font-size: 12px;
                }
            }
        }
    }
    .mingjia {
        padding: 10px;
        margin: 5px 0;
        .header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 4px;
            /* align-items: center; */
            .headerLeft {
                display: flex;
                align-items: center;
            }
            .headerRight {}
            .block {
                display: inline-block;
                background-color: red;
                width:4px;
                height: 100%;
                margin-right: 8px;
            }
            .grey {
                color: gray;
                margin-left: 10px;
                font-size: 12px;
            }
        }

    }

    .imgScrollBoxBox {
        /* position: relative; */
        overflow: hidden;
    }
    .imgScrollBox {
        -webkit-animation: myfirst 15s; /* Safari Chrome opera */
        -ms-animation: myfirst 15s; /* ie */
        -moz-animation: myfirst 15s; /* ff */
        animation: myfirst 15s;
        width: 3200px;
        text-align: right;
        /* transform: translateX(-2100px); */
        animation-play-state: running;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    .imgScrollBox:hover {
        animation-play-state: paused;
    }
    @-webkit-keyframes myfirst /* Safari Chrome opera */
    {
        /* 0%   {background: red;}
        25%  {background: yellow;}
        50%  {background: blue;}
        100% {background: green;} */
        0% {
            transform: translateX(-2100px);
        }
        100% {
            transform: translateX(-540px);
        }
    }
    @-ms-keyframes myfirst /* ie */
    {
        0% {
            transform: translateX(-2100px);
        }
        100% {
            transform: translateX(-540px);
        }
    }
    @-moz-keyframes myfirst /* ff */
    {
        0% {
            transform: translateX(-2100px);
        }
        100% {
            transform: translateX(-540px);
        }
    }
    @keyframes myfirst
    {
        0% {
            transform: translateX(-2100px);
        }
        100% {
            transform: translateX(-540px);
        }
    }
    .imgBox {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 4px;
        width: 150px;
        height: 110px;
        display: inline-block;
        margin: 0 3px;
        cursor: pointer;
    }
    .mingjiaPic {
        width: 100%;
        height: 100%;
    }

    .widgetScrollBox {
        -webkit-animation: widgetAnimate 15s; /* Safari Chrome opera */
        -ms-animation: widgetAnimate 15s; /* ie */
        -moz-animation: widgetAnimate 15s; /* ff */
        animation: widgetAnimate 15s;
        width: 3200px;
        text-align: right;
        transform: translateX(-2100px);
        animation-play-state: running;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        .imgBox {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 4px;
            width: 150px;
            height: 150px;
            display: inline-block;
            margin: 0 3px;
            cursor: pointer;
        }
    }
    .widgetScrollBox:hover {
        animation-play-state: paused;
    }
    @-webkit-keyframes widgetAnimate /* Safari Chrome opera */
    {
        /* 0%   {background: red;}
        25%  {background: yellow;}
        50%  {background: blue;}
        100% {background: green;} */
        0% {
            transform: translateX(-2100px);
        }
        100% {
            // transform: translateX(-540px);
            transform: translateX(-696px);
        }
    }
    @-ms-keyframes widgetAnimate /* ie */
    {
        0% {
            transform: translateX(-2100px);
        }
        100% {
            transform: translateX(-696px);
        }
    }
    @-moz-keyframes widgetAnimate /* ff */
    {
        0% {
            transform: translateX(-2100px);
        }
        100% {
            transform: translateX(-696px);
        }
    }
    @keyframes widgetAnimate
    {
        0% {
            transform: translateX(-2100px);
        }
        100% {
            transform: translateX(-696px);
        }
    }
    .homefooter {
        text-align: center;
        background: linear-gradient(0deg, #ccc, transparent);
        padding: 20px;
        p {
            margin: 0;
            font-size: 12px;
            line-height:20px;
        }
    }
    .nav-box {
        div {}
    }
}