.footer {
    text-align: center;
    background: linear-gradient(0deg, #ccc, transparent 50%);
    padding: 20px;
    p {
        margin: 0;
        font-size: 12px;
        line-height:20px;
    }
}



    // .homefooter {
    //     text-align: center;
    //     background: linear-gradient(0deg, #ccc, transparent);
    //     padding: 20px;
    //     p {
    //         margin: 0;
    //         font-size: 12px;
    //         line-height:20px;
    //     }
    // }